<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!--<suite name="testSiute" parallel="methods" thread-count="2">-->
<suite name="testSiute">
    <test name="testTest">
        <classes>
            <class name="Main"/>
        </classes>
    </test>
</suite>